{% extends "layouts/base.html" %}

{% block title %}Sensor {{sensorID}} {% endblock %}

{% block content %}

<!--- Welcome to the most complex html document in the website --->

<script>
  //  var linechart
    var chart_mode = 0  //Values: 0 = live, anything else = how many days are being displayed

    var liquidLevel = {{data.y_vals | last}}; //stores current liquid level

    //Catches and responds to SocketIO messages (mostly for debug)
    socket.on('message', function(msg) {
        console.log("SocketIO clientside message: " + msg);
    });

    //Received from routes.py when a POST request comes in, brings in a datapoint
    socket.on('POST', function(new_data) {
        if(new_data[0] == '{{sensorID}}') {
            add_datapoint(new_data);
        }
    });

    function add_datapoint(new_data) {
            //Adds a new data_point to its respective
            //Argument new_data is an array containing [SID, datapoint]

            if (chart_mode != 0) {
                return;
            }

            var datapoint = new_data[1];

            liquidLevel = datapoint["Liquid %"];

            //This is Chart.js standard, push the datapoint label, then the datapoint in
            linechart.data.labels.push(datapoint["Time Stamp"]);
            linechart.data.labels.splice(0, 1);
            linechart.data.datasets.forEach((dataset) => {
                dataset.data.push(datapoint["Liquid %"]);
                dataset.data.splice(0, 1);
            });

            //Update the battery bar percentage and color
            var batteryBar = document.getElementById("battery col " + '{{sensorID}}')

            //batteryBar.innerHTML= "Battery Level: " + datapoint["Battery %"] + "%";
            //batteryBar.style.color = get_darker_color_by_batt(datapoint["Battery %"]);
            //batteryBar.style.background = get_color_by_batt(datapoint["Battery %"]);
            //batteryBar.style.textalign = "center";

            linechart.update();


            //Measurement changes
            if('{{settings[1]}}' == 'Rectangular Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateRectangularVolumeGals({{settings[2]}}, {{settings[3]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            } else if('{{settings[1]}}' == 'Cylindrical Tank') {
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
                document.getElementById("liquid_volume").innerHTML = calculateCylindricalVolumeGals({{settings[4]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
            } else if('{{settings[1]}}' == 'Vertical Oval Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateVerticalOvalVolumeGals({{settings[3]}}, {{settings[2]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            } else if('{{settings[1]}}' == 'Vertical Capsule Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateVerticalCapsuleVolumeGals({{settings[3]}}, {{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            } else if('{{settings[1]}}' == 'Spherical Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateSphericalVolumeGals({{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            }
    }


    function new_range() {
        var range_selector = document.getElementById("range_selector");
        var si = range_selector.selectedIndex
        if(si == 0) {
            defaultChart();
        } else if(si == 1) {
            changeDate(1);
        } else if(si == 2) {
            changeDate(7);
        } else if(si == 3) {
            changeDate(30);
        } else if(si == 4){
            // var UserInput = prompt('Select an interval of dates');
            customDate(); //Work here for user input

        }
    }

    function changeDate(new_day) {
        chart_mode = new_day

        var arr = {days: new_day, sensor_id: "{{sensorID}}"}

        $.ajax({
            url: '/sensors/get-date',
            type: 'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(response) {
                console.log(response)
                linechart.data.labels = response["x_vals"];
                linechart.data.datasets.forEach((dataset) => {
                    dataset.data = response["y_vals"];
                });
                linechart.update()
            }
        });
    }



    // Nico's work. Use this function
    function gate_date_range(first_date, second_date) {
        chart_mode = first_date

        var arr = {first_date: first_date, second_date: second_date, sensor_id: "{{sensorID}}"}

        $.ajax({
            url: '/sensors/get-date-range',
            type: 'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(response) {
                console.log(response);
                document.getElementById("chart").innerHTML = "";
                build_chart(response['x_vals'], response['y_vals'])

            }
        });
    }

    function customDate(){
        var date1 = prompt('first date (Eg. Oct 1 2021 1:00PM)');
        var date2 = prompt('second date (Eg. Nov 1 2021 10:00AM)');
        /* switching dates, going out of scope, when user puts in invalid date */
        var curDate = new Date();
        gate_date_range(date1, date2);

    }

    function defaultChart() {
        chart_mode = 0

        var arr = {sensor_id: "{{sensorID}}"}
        $.ajax({
            url: '/sensors/get-default-datapoints',
            type: 'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(response) {

                console.log( response["x_vals"]);
                console.log( response["y_vals"]);

            }
        });
    }

</script>


<!--- Row containing the graph, and the view+measurement interfaces --->
<div class="form-group form-inline" style="width:100%">

    <!--- The chart's media section --->
    <article class="media content-section" style="width:60%; float:left; margin-right:10px">
        <div class="media-body" style="width:100%;">
            <h1 style="text-align:center">Sensor {{sensorID}}</h1>

            <!--- Chart canvas --->
            <div id="chart"></div>

            <!-- Script initialiing D3 chart-->
            <script>

            function build_chart(x_vals, y_vals){

              data = []
              //%m-%d-%Y %H:%M:%S
              mid_day = x_vals[Math.floor((x_vals.length)/2)]
              parser = d3.timeParse('%Y-%m-%d %H:%M:%S');
              for(var pos = 0; pos < x_vals.length; pos++){

                data.push({x : parser(x_vals[pos]), y : y_vals[pos]});

              }



              //console.log( Math.max());
              //console.log(data);

              // set the dimensions and margins of the graph
              var margin = {top: 10, right: 30, bottom: 30, left: 60},
                  width = 460 - margin.left - margin.right,
                  height = 400 - margin.top - margin.bottom;

              // append the svg object to the body of the page
              var svg = d3.select("#chart")
                .append("svg")
                  .attr("width", width + margin.left + margin.right)
                  .attr("height", height + margin.top + margin.bottom)
                .append("g")
                  .attr("transform",
                        "translate(" + margin.left + "," + margin.top + ")");

              //Read the data



              // Add X axis --> it is a date format
              var x = d3.scaleTime()
                .domain([data[0].x, data[data.length - 1].x])
                .range([ 0, width ]);
              svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x))
              // X-axis label
              svg.append("text")
                .attr("transform", "translate(" + (width / 2) + " ," + (height + margin.bottom) + ")")
                .style("text-anchor","middle")
                .text("Date and Time");


              // Add Y axis
              var y = d3.scaleLinear()
                .domain([0, 100 ])
                //.domain([ 0 , d3.max(data)])      Supposed to scale y axis with data
                .range([ height, 0 ]);
              svg.append("g")
                .call(d3.axisLeft(y))
              // Y-axis label
              svg.append("text")
                .attr("transform","rotate(-90)")
                .attr("y", 0 - margin.left)
                .attr("x", 0 - (height / 2))
                .attr("dy", "1em")
                .style("text-anchor","middle")
                .text("Liquid Level %");

              // This allows to find the closest X index of the mouse:
              var bisect = d3.bisector(function(d) { return d.x; }).left;

              // Create the circle that travels along the curve of chart
              var focus = svg
                .append('g')
                .append('circle')
                  .style("fill", "none")
                  .attr("stroke", "black")
                  .attr('r', 4.5)
                  .style("opacity", 0)

              // Create the text that travels along the curve of chart
              var focusText = svg
                .append('g')
                .append('text')
                  .style("opacity", 0)
                  .attr("text-anchor", "left")
                  .attr("alignment-baseline", "middle")

              // Add the line
              svg
                .append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "steelblue")
                .attr("stroke-width", 1.5)
                .attr("d", d3.line()
                  .x(function(d) { return x(d.x) })
                  .y(function(d) { return y(d.y) })
                  )

              // Create a rect on top of the svg area: this rectangle recovers mouse position
              svg
                .append('rect')
                .style("fill", "none")
                .style("pointer-events", "all")
                .attr('width', width)
                .attr('height', height)
                .on('mouseover', mouseover)
                .on('mousemove', mousemove)
                .on('mouseout', mouseout);


              // What happens when the mouse move -> show the annotations at the right positions.
              function mouseover() {
                focus.style("opacity", 1)
                focusText.style("opacity",1)
              }

              var format = d3.timeFormat('%Y-%m-%d %H:%M:%S');
              var unix_epoch = d3.timeFormat("%s");


              function mousemove() {
                // recover coordinate we need selectedData.x
                var x0 = x.invert(d3.mouse(this)[0]);
                var i = bisect(data, x0, 1);
                selectedData = data[i]
                console.log(unix_epoch(parser(mid_day)) < unix_epoch(selectedData.x))

                if(unix_epoch(parser(mid_day)) > unix_epoch(selectedData.x)){
                    focus
                      .attr("cx", x(selectedData.x))
                      .attr("cy", y(selectedData.y))
                    focusText
                      .html("time: " + format(selectedData.x) + "  -  " + "level: " + selectedData.y + "%")
                      .attr("x", x(selectedData.x)+15)
                      .attr("y", y(selectedData.y))
                  }
                  else{
                    focus
                      .attr("cx", x(selectedData.x))
                      .attr("cy", y(selectedData.y))
                    focusText
                      .html("time: " + format(selectedData.x) + "  -  " + "level: " + selectedData.y + "%")
                      .attr("x", x(selectedData.x)-260)
                      .attr("y", y(selectedData.y))
                  }
                }

              function mouseout() {
                focus.style("opacity", 0)
                focusText.style("opacity", 0)
              }

           }

           x_vals = []
           {% for val in data.x_vals %}
             x_vals.push("{{ val }}");

           {% endfor %}

           y_vals = []
           {% for val in data.y_vals %}
             y_vals.push({{ val }});

           {% endfor %}

           console.log(x_vals);
           console.log(y_vals);

           build_chart(x_vals, y_vals)

            /*
            d3.csv("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_IC.csv",function(data) {

              // Add X axis --> it is a date format
              var x = d3.scaleLinear()
                .domain([1,100])
                .range([ 0, width ]);
              svg.append("g")
                .attr("transform", "translate(0," + height + ")")
                .call(d3.axisBottom(x));

              // Add Y axis
              var y = d3.scaleLinear()
                .domain([0, 13])
                .range([ height, 0 ]);
              svg.append("g")
                .call(d3.axisLeft(y));

              // This allows to find the closest X index of the mouse:
              var bisect = d3.bisector(function(d) { return d.x; }).left;

              // Create the circle that travels along the curve of chart
              var focus = svg
                .append('g')
                .append('circle')
                  .style("fill", "none")
                  .attr("stroke", "black")
                  .attr('r', 8.5)
                  .style("opacity", 0)

              // Create the text that travels along the curve of chart
              var focusText = svg
                .append('g')
                .append('text')
                  .style("opacity", 0)
                  .attr("text-anchor", "left")
                  .attr("alignment-baseline", "middle")

              // Add the line
              svg
                .append("path")
                .datum(data)
                .attr("fill", "none")
                .attr("stroke", "steelblue")
                .attr("stroke-width", 1.5)
                .attr("d", d3.line()
                  .x(function(d) { return x(d.x) })
                  .y(function(d) { return y(d.y) })
                  )

              // Create a rect on top of the svg area: this rectangle recovers mouse position
              svg
                .append('rect')
                .style("fill", "none")
                .style("pointer-events", "all")
                .attr('width', width)
                .attr('height', height)
                .on('mouseover', mouseover)
                .on('mousemove', mousemove)
                .on('mouseout', mouseout);


              // What happens when the mouse move -> show the annotations at the right positions.
              function mouseover() {
                focus.style("opacity", 1)
                focusText.style("opacity",1)
              }

              function mousemove() {
                // recover coordinate we need
                var x0 = x.invert(d3.mouse(this)[0]);
                var i = bisect(data, x0, 1);
                selectedData = data[i]
                focus
                  .attr("cx", x(selectedData.x))
                  .attr("cy", y(selectedData.y))
                focusText
                  .html("x:" + selectedData.x + "  -  " + "y:" + selectedData.y)
                  .attr("x", x(selectedData.x)+15)
                  .attr("y", y(selectedData.y))
                }
              function mouseout() {
                focus.style("opacity", 0)
                focusText.style("opacity", 0)
              }

            })
            */

            </script>

            <!--- Script initializing the Chart.js chart --->
            <!--
            <script>
                var myChart = document.getElementById("chart").getContext('2d');

                gradient = myChart.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, 'rgba(29, 140, 248, 0.75)');
                gradient.addColorStop(0.5, 'rgba(29, 140, 248, 0.5)');
                gradient.addColorStop(1, 'rgba(29, 140, 248, 0)');

                // Global Options
                Chart.defaults.global.defaultFontFamily = 'inherit';
                Chart.defaults.global.defaultFontSize = 14; //Effects x and y's number font size
                Chart.defaults.global.defaultFontColor = '#777';
                linechart = new Chart(myChart, {
                    type:'line',
                    data:{
                        labels: {{ data.x_vals | tojson }},                                         //X VALS TO COMMUNICATE WITH CHART
                        datasets:[{
                            label:'Liquid Level %',
                            data:{{ data.y_vals }},
                            // backgroundColor: gradient,
                            borderWidth:1, //Effects plotted line on chart
                            borderColor:'white',
                            hoverBorderWidth:1,
                            hoverBorderColor:'black',
                            pointBackgroundColor: '#34aeeb',
                            showLine: false


                        }]
                    },
                    options:{

                        //For when chartjs zoom plugin works
                        plugins:{
                          zoom:{
                            pan:{
                              enabled: true,
                              mode: 'x'
                            },
                            zoom:{
                              wheel: {
                                enabled: true
                              },
                              pinch:{
                                enabled: true
                              },
                              mode: 'x'
                            }
                          }
                        },

                        legend:{
                            display:true,
                            position:'right',
                            labels:{
                                fontColor:'#000',
                                color: '#34aeeb'
                            }
                        },
                        scales: {
                        yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            steps: 10,
                            stepValue: 10,
                            max: 100
                        }
                    }],
                    xAxes: [{
                        display: true,
                        ticks: {
                            autoSkip: true,
                            padding: 4,
                            fontSize: 10,
                            display: false
                        }
                    }]
                },
                layout:{
                padding:{
                    left:0,
                    right:0,
                    bottom:0,
                    top:0
                }
            },
            tooltips:{
                enabled:true
                }

            }
            });

            </script>
            -->
        </div>


    </article>

    <!--- Vertical arrangement of timeframe selector and measurement configuration --->
    <div style="width:30%">


        <div class="content-section" style="float:left; width:100%">
            <h2 style = "text-align:center"><strong>Change View</strong></h2>

            <!--- Chart timeframe selector --->
            <div style="width:100%; margin-right:10%">
                <select onchange="new_range()" id="range_selector" style="width:100%;">
                    <option>Live</option>
                    <option>Past Day</option>
                    <option>Past Week</option>
                    <option>Past Month</option>
                    <option>Custom Interval</option>
                </select>
                <script>
                    //Default index to 0
                    document.getElementById("range_selector").selectedIndex = 0
                </script>
            </div>
        </div>

        <!--- Measurement Configuration content-section --->
        <div class="content-section" style="float:left; width:100%">

            <h2 style = "text-align:center"><strong>Measurements</strong></h2>

            <!--- Type selector --->
            <div class="form-group form-inline">
                <div style="width:50%; margin-right:10%">
                    <label for="measurement_type_selector" style="float:left"><strong>Measurement Type</strong></label><br>
                    <select id="measurement_type_selector" style="width:100%" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                        <option>None</option>
                        <option>Height Only</option>
                        <option>Rectangular Tank</option>
                        <option>Cylindrical Tank</option>
		        <option>Vertical Oval Tank</option>
		        <option>Vertical Capsule Tank</option>
                        <option>Spherical Tank</option>
                    </select>
                    <script>
                        var mts = document.getElementById("measurement_type_selector");
                        mts.addEventListener("change", function() {
                            changeShownMenu();
                        });

                    </script>
                </div>
            </div>

            <br>

            <!--- Default/None Parameters Menu --->
            <div id="none_parameters_menu" style="display:block">
                <p>
                    You can set measurements here to
                    compute information such as current tank volume
                    and liquid height. Choose a configuration from
                    the drop-down above!
                </p>
            </div>
            <!--- End of Default/None Parameters Menu --->

            <!--- Height Only Parameters Menu --->
            <div id="height_only_parameters_menu" style="display:none">
                <p>For measuring only the height of liquid.</p>
            </div>
            <!--- End of Height Only Parameters Menu --->


            <!--- Rectangular Parameters Menu --->
            <div id="rectangular_parameters_menu" style="display:none">
                <p>For rectangular tanks.</p>

                <!--- Tank Parameter Fields --->
                <div class="form-group form-inline">
                    <!--- Width Field --->
                    <div style="width:30%">
                        <label for="rectangular_width_field" style="float:left;"><strong>Tank Width</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="rectangular_width_field"  name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Length Field --->
                    <div style="width:30%">
                        <label for="rectangular_length_field" style="float:left;"><strong>Tank Length</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="rectangular_length_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>

                    <!--- Height Field --->
                    <div style="width:30%">
                        <label for="rectangular_height_field" style="float:left;"><strong>Tank Height</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="rectangular_height_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Rectangular Tank --->
                    <div id="rectangular_image">
                        <body>
                            <svg id='tank' height='200px' width='200px' viewBox="0 0 200 150" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
                                <rect shape='rectangle' id='rectangle' class='water' y="150" width="200" height="0" style="stroke: rgb(0, 0, 0); fill: rgb(85, 172, 231);" bx:origin="0.5 -2.500053">
                                  <title>Water</title>
                                </rect>
                                <rect width="200" height="150" style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-width: 2px; stroke-linejoin: round; fill: rgba(201, 201, 201, 0);" bx:origin="0.5 0.5">
                                  <title>Tank</title>
                                </rect>
                              </svg>
                       </body> 
                        <img src="/static/rectangle.jpg">
                    </div>
                </div>
            </div>
            <!--- End of Rectangular Parameters Menu --->


            <!--- Cylindrical Parameters Menu --->
            <div id="cylindrical_parameters_menu" style="display:none">
                <p>For cylindrical tanks - accuracy depends on how perfectly cylindrical the tank is.</p>
                <!--- Height Field --->
                <div class="form-group form-inline">
                    <div style="width:40%">
                        <label for="cylindrical_height_field" style="float:left;"><strong>Tank Height</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="cylindrical_height_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <div style="width:40%">
                        <label for="cylindrical_diameter_field" style="float:left;"><strong>Tank Diameter</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="cylindrical_diameter_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Cylindrical Tank --->
                     <div id="cylindrical_image">
                        <svg id='tank' height='200px' width='200px' viewBox="0 0 200 150" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
                            <rect shape='cylinder' class='water' y="150" width="200" height="0" style="stroke: rgb(0, 0, 0); fill: rgb(85, 172, 231);" bx:origin="0.5 -2.500053">
                              <title>Water</title>
                            </rect>
                            <rect width="200" height="150" style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-width: 2px; stroke-linejoin: round; fill: rgba(201, 201, 201, 0);" bx:origin="0.5 0.5">
                              <title>Tank</title>
                            </rect>
                          </svg>
                          <img src="/static/cylinder.jpg">
                     </div>
                </div>
            </div>
            <!--- End of Cylindrical Parameters Menu --->

            <!--- Vertical Oval Parameters Menu --->
            <div id="vertical_oval_parameters_menu" style="display:none">
                <p>For vertical oval tanks.</p>

                <!--- Tank Parameter Fields --->
                <div class="form-group form-inline">
                    <!--- Length Field --->
                    <div style="width:30%">
                        <label for="vertical_oval_length_field" style="float:left;"><strong>Tank Length</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_oval_length_field"  name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Width Field --->
                    <div style="width:30%">
                        <label for="vertical_oval_width_field" style="float:left;"><strong>Tank Width</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_oval_width_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>

                    <!--- Height Field --->
                    <div style="width:30%">
                        <label for="vertical_oval_height_field" style="float:left;"><strong>Tank Height</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_oval_height_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Vertical Oval Tank --->
                    <div id="vertical_oval_image">
                        <svg height='200px' width='200px' viewBox="0 0 200 150" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
                            <rect shape='vertical_oval' class='water' y="150" width="200" height="0" style="stroke: rgb(0, 0, 0); fill: rgb(85, 172, 231);" bx:origin="0.5 -2.500053">
                              <title>Water</title>
                            </rect>
                            <rect width="200" height="150" style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-width: 2px; stroke-linejoin: round; fill: rgba(201, 201, 201, 0);" bx:origin="0.5 0.5">
                              <title>Tank</title>
                            </rect>
                          </svg>
                          <img src="/static/oval.jpg">
                    </div>
                </div>
            </div>
            <!--- End of Vertical Oval Parameters Menu --->

            <!--- Vertical Capsule Parameters Menu --->
            <div id="vertical_capsule_parameters_menu" style="display:none">
                <p>For vertical capsule tanks.</p>
                <!--- Side Length Field --->
                <div class="form-group form-inline">
                    <div style="width:40%">
                        <label for="vertical_capsule_length_field" style="float:left;"><strong>Tank Side Length</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_capsule_length_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <div style="width:40%">
                        <label for="vertical_capsule_diameter_field" style="float:left;"><strong>Tank Diameter</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_capsule_diameter_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Vertical Capsule Tank --->
                    <div id="vertical_capsule_image">
                        <svg height='200px' width='200px' viewBox="0 0 200 150" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
                            <rect shape='vertical_capsule' class='water' y="150" width="200" height="0" style="stroke: rgb(0, 0, 0); fill: rgb(85, 172, 231);" bx:origin="0.5 -2.500053">
                              <title>Water</title>
                            </rect>
                            <rect width="200" height="150" style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-width: 2px; stroke-linejoin: round; fill: rgba(201, 201, 201, 0);" bx:origin="0.5 0.5">
                              <title>Tank</title>
                            </rect>
                          </svg>
                          <img src="/static/capsule.jpg">
                    </div>
                </div>
            </div>
            <!--- End of Vertical Capsule Parameters Menu --->

            <!--- Spherical Parameters Menu --->
            <div id="spherical_parameters_menu" style="display:none">
                <p>For spherical tanks.</p>
                <div class="form-group form-inline">
                    <div style="width:40%">
                        <label for="spherical_diameter_field" style="float:left;"><strong>Tank Diameter</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="spherical_diameter_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <div id="spherical_image">
                        <svg height='200px' width='200px' viewBox="0 0 200 150" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
                            <rect shape='spherical' class='water' y="150" width="200" height="0" style="stroke: rgb(0, 0, 0); fill: rgb(85, 172, 231);" bx:origin="0.5 -2.500053">
                              <title>Water</title>
                            </rect>
                            <rect width="200" height="150" style="stroke: rgb(0, 0, 0); paint-order: fill; stroke-width: 2px; stroke-linejoin: round; fill: rgba(201, 201, 201, 0);" bx:origin="0.5 0.5">
                              <title>Tank</title>
                            </rect>
                        </svg>
                        <img src="/static/sphere.png">
                    </div>
                </div>
            </div>
            <!--- End of Spherical Parameters Menu --->

            <br>

            <!--- Sensor Parameter Fields --->
            <div  id="sensor_parameters" style="display:none">
                <div class="form-group form-inline">

                    <!--- Sensor Bottom Height Field --->
                    <div style="width:50%">
                        <label for="sensor_bottom_height" style="float:left;"><strong>Height of Bottom of Sensor</strong></label><br>
                        <input id="sensor_bottom_height" name="sensor_bottom_height" style="float:left; width:30%; margin-right:5px">
                            in.
                    </div>

                    <!--- Sensor Top Height Field --->
                    <div style="width:50%">
                        <label for="sensor_top_height" style="float:left;"><strong>Height of Top of Sensor</strong></label><br>
                        <input id="sensor_top_height" name="sensor_bottom_height" style="float:left; width:30%; margin-right:5px">
                            in.
                    </div>

                </div>

            </div>
            <!--- End of Sensor Parameter Fields --->

            <br>

            <button id="update_settings_button" class="btn-primary" type="button" style="width:100%; display:block">
                Update Measurement Settings
                <script>
                    document.getElementById("update_settings_button").addEventListener("click", function(){
                        updateMeasurementSettings();
                    });
                </script>
            </button>
        </div>




        </div>
    </div> <!--- end Row Containing Graph, view, measurement --->

    <!--- bar displaying current liquid volume, tank percentage --->
    <div class="content-section" style="width:60%">
        <div class="form-group form-inline">
            <div style="width:30; margin-right:5%;">
                <h4>Current Liquid Volume: <b id="liquid_volume">--</b></h4>
                <button onclick="get_point_elevations([39.70179236136183, -75.12333012077949])">Test</button>
            </div>
            <div style="width:30">
                <h4>Current Liquid Height: <b id="liquid_height">--</b></h4>
            </div>
        </div>
    </div>

</div>


<!--- Measurement Settings Functions --->
<script>
    
    //Declare global variable measurementConfigMenus, that correspond with the divs for each of their respective
    //  measurement field groups
    var measurementConfigMenus = [document.getElementById("none_parameters_menu"),
                                document.getElementById("height_only_parameters_menu"),
                                document.getElementById("rectangular_parameters_menu"),
                                document.getElementById("cylindrical_parameters_menu"),
                                document.getElementById("vertical_oval_parameters_menu"),
                                document.getElementById("vertical_capsule_parameters_menu"),
                                document.getElementById("spherical_parameters_menu")];


    //uses volume calculations from this link: https://www.calculatorsoup.com/calculators/construction/tank.php
    //each svg must have className = water and shape attribute that will be passed in for identifying the correct SVG to change.
    //For future development, only one svg is needed becaused it is a progress bar. Initializing it in one place and calling it when shown would be better.
    function change_svg_height(liquid_height, total_height, shape){
        /*
        SHAPE names so far
        rectangle
        cylinder
        vertical_oval
        vertical_capsule
        spherical
        */
        console.log(liquid_height)
        console.log(total_height)
        tank_bottom_y = 150;
        tank_height = parseInt(document.getElementById('tank').getAttribute('height'));
        new_height = tank_bottom_y - (liquid_height/total_height * tank_height)
        var elements = document.getElementsByClassName("water");
        for (i = 0; i < elements.length; i++){
            if (elements[i].getAttribute('shape') == shape){
                console.log(elements[i].getAttribute('shape'))
                console.log(shape)
                elements[i].setAttribute('y', String(new_height))
                elements[i].setAttribute('height', String(tank_bottom_y-new_height ))
            }
        }
        console.log(new_height)
        console.log(tank_bottom_y-new_height)
    }

    //Changes the measurement fields shown based on measurement type
    function changeShownMenu(index) {
        //First hide all the menus
        measurementConfigMenus.forEach((menu) => {
            if(menu != null) { //unnecessary but harmless if statement
                menu.style.display = "none";
            }
        });

        //Then show only the menu we want
        measurementConfigMenus[mts.selectedIndex].style.display = "block";

        //For everything but "None", display the sensor specification fields
        if(mts.selectedIndex != 0) {
            document.getElementById("sensor_parameters").style.display = "block";
        } else {
            document.getElementById("sensor_parameters").style.display = "none";
        }
    }

    //When the "update" button is pushed, this function will be called. It grabs the data from the document and attempts
    //  to send it to /sensors/sensor-settings/store:
    function updateMeasurementSettings() {

        //Initialize necessary values at 0
        var width = 0;
        var length = 0;
        var diameter = 0;
        var height = 0;
        var sensorBottomHeight = 0;
        var sensorTopHeight = 0;

        //Replace sensor top/bottom height values if necessary
        if(mts.selectedIndex > 0) {
            sensorBottomHeight = parseInt(document.getElementById("sensor_bottom_height").value)
            sensorTopHeight = parseInt(document.getElementById("sensor_top_height").value)
            if(Number.isNaN(sensorBottomHeight) || Number.isNaN(sensorTopHeight)) {
                alert("Please enter numeric values into all fields: sensor height specifications");
                return;
            }
        }

        //Replace rectangular values if necessary
        if(mts.selectedIndex == 2) { //RECTANGULAR
            width = parseInt(document.getElementById("rectangular_width_field").value)
            length = parseInt(document.getElementById("rectangular_length_field").value)
            height = parseInt(document.getElementById("rectangular_height_field").value)
            if(Number.isNaN(width) || Number.isNaN(length) || Number.isNaN(height)) {
                alert("Please enter numeric input in all fields: rectangular specifications");
                return;
            }

        //Replace cylindrical values if necessary
        } else if(mts.selectedIndex == 3) { //CYLINDRICAL
            diameter = parseInt(document.getElementById("cylindrical_diameter_field").value);
            height = parseInt(document.getElementById("cylindrical_height_field").value);
            if(Number.isNaN(diameter) || Number.isNaN(height)) {
                alert("Please enter numeric input in all fields: cylindrical specifications");
                return;
            }
        //Replace vertical oval values if necessary
        } else if(mts.selectedIndex == 4) { //VERTICAL OVAL
            length = parseInt(document.getElementById("vertical_oval_length_field").value);
            width = parseInt(document.getElementById("vertical_oval_width_field").value);
            height = parseInt(document.getElementById("vertical_oval_height_field").value);
            if(Number.isNaN(length) || Number.isNaN(width) || Number.isNaN(height)) {
                alert("Please enter numeric input in all fields: vertical oval specifications");
                return;
            }
        //Replace vertical capsule values if necessary
        } else if(mts.selectedIndex == 5) { //VERTICAL CAPSULE
            length = parseInt(document.getElementById("vertical_capsule_length_field").value);
            diameter = parseInt(document.getElementById("vertical_capsule_diameter_field").value);
            if(Number.isNaN(length) || Number.isNaN(diameter)) {
                alert("Please enter numeric input in all fields: vertical capsule specifications");
                return;
            }
        }
        //Replace spherical values if necessary
         else if(mts.selectedIndex == 6) { //SPHERICAL
            diameter = parseInt(document.getElementById("spherical_diameter_field").value);
            if(Number.isNaN(diameter)) {
                alert("Please enter numeric input in all fields: spherical specifications");
                return;
            }
        }


        //Create a JSON with all of the data we want to end up in the settings table of the database
        var sendData = {"sensorID": '{{sensorID}}',
                        "measurementType": document.getElementById("measurement_type_selector").value,
                        "width": width,
                        "length": length,
                        "diameter": diameter,
                        "height": height,
                        "sensorBottomHeight": sensorBottomHeight,
                        "sensorTopHeight": sensorTopHeight,
                        };

        //Define a request, open as post, delineate that we're sending JSON
        xhr = new XMLHttpRequest();
        xhr.open("POST", "/sensors/sensor-settings/store", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        //Set up a handler for when the response is received
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                    var success = $.parseJSON(this.response)["result"];
                    if(success) {
                        location.reload();
                    } else {
                        alert("Something went wrong saving your settings. If this issue persists, contact support.");
                    }
                }
        };

        //Send the data
        var data = JSON.stringify(sendData);
        xhr.send(data);
    }

    function calculateLiquidHeight(sensorBottom, sensorTop) {
        relativeHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        return (sensorBottom + relativeHeight).toFixed(2) + " in.";
    }


    //Only the gallons versions are updated and working. The liters measurements didnt seem to be used so nothing was done to them.
    //The formulas referenced for this code come from here https://www.calculatorsoup.com/calculators/construction/tank.php
    function calculateRectangularVolumeGals(width, length, height, sensorBottom, sensorTop) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "0.00 gal";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = width * length * absoluteLiquidHeight;
        change_svg_height(liquidVolume, width*length*height,  "rectangle");
        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateRectangularVolumeLiters(width, length, height, sensorBottom, sensorTop, liquidLevel) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "0.00L";
            } else {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = width * length * absoluteLiquidHeight;

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateCylindricalVolumeGals(diameter, height, sensorBottom, sensorTop, liquidLevel) {
        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;
        var liquidVolume = 3.1415 * (diameter/2) * (diameter/2) * absoluteLiquidHeight;
        change_svg_height(liquidVolume, 3.1415 * (diameter/2) * (diameter/2) * height,  "cylinder");
        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateCylindricalVolumeLiters(diameter, height, sensorBottom, sensorTop, liquidLevel) {
        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;
        var liquidVolume = 3.1415 * (diameter/2) * (diameter/2) * height;

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateVerticalOvalVolumeGals(length, width, height, sensorBottom, sensorTop) {
        //The height of the liquid relative to the sensor
        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }
        var liquidVolume;
        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;
        var radius = width/2;
        var a_length = height - width;
        var tank_volume = (Math.PI * radius **  2 + 2 * radius * a_length  ) * length;
        if (absoluteLiquidHeight < radius){
            var m = radius - absoluteLiquidHeight;
            var theta = 2*Math.acos(m/radius);
            liquidVolume = 1/2 * radius**2 * (theta - Math.sin(theta))* length;
        }
        else if (absoluteLiquidHeight < radius + a_length){
            var semicircle_volume = 1/2 * Math.PI * radius**2 * length;
            var rectangular_portion = length*width*(absoluteLiquidHeight - radius);
            liquidVolume = semicircle_volume + rectangular_portion;
        }
        else {
            var semicircle_volume = 1/2 * Math.PI * radius**2 * length;
            var rectangular_portion = length*width*(absoluteLiquidHeight - radius);
            var m = absoluteLiquidHeight - (height-radius);
            var theta = 2*Math.acos(m/radius);
            liquidVolume = 1/2 * radius**2 * (theta - Math.sin(theta))* length;
        }
        
        change_svg_height(liquidVolume, tank_volume, "vertical_oval" );
        return (liquidVolume / 231).toFixed(2) + " gal";

    }

    function calculateVerticalOvalVolumeLiters(length, width, height, sensorBottom, sensorTop, liquidLevel) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (((height - width) * width) + (3.1415 * ((width/2) * (width/2)))) * length;

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateVerticalCapsuleVolumeGals(length, diameter, sensorBottom, sensorTop, liquidLevel) {

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }
        var liquidVolume;
        var radius = diameter/2;
        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var f_length = length - diameter;
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;
        if (absoluteLiquidHeight > radius){
            var sphere_part = 4/6 * 3.14 * radius**3;
            var cylinder_part = 3.14 * radius ** 2 * f_length;
            var length = (absoluteLiquidHeight - radius - f_length);
            var new_part = 1/3 * 3.14 * length**2 * (3 * radius - length);
            liquidVolume = sphere_part + cylinder_part + new_part;
        }
        else if (absoluteLiquidHeight > radius+f_length){
            var sphere_part = (4/3 * 3.14 * radius**3)/2;
            var cylinder_part = 3.14 * radius ** 2 * (absoluteLiquidHeight - radius);
            liquidVolume = sphere_part + cylinder_part;
        }
        else{
            liquidVolume = 1/3 * 3.14 * absoluteLiquidHeight * absoluteLiquidHeight * (3 * radius - (diameter - absoluteLiquidHeight));
        }
        
        var tank_volume  = Math.PI * radius**2 * (4/3 * radius + f_length);

        console.log(f_length);
        console.log(radius);
        console.log(absoluteLiquidHeight);
        console.log(liquidVolume);
        console.log(tank_volume);
        change_svg_height(liquidVolume, tank_volume, "vertical_capsule");
        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateVerticalCapsuleVolumeLiters(length, diameter, sensorBottom, sensorTop, liquidLevel) {

        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (3.1415 * (diameter/2) * length) + (4/3 * 3.1415 * ((diameter/2) * (diameter/2) * (diameter/2)));

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateSphericalVolumeGals(diameter, sensorBottom, sensorTop, liquidLevel) {

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var radius = diameter/2;
        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = Math.PI * radius * absoluteLiquidHeight**2  - 1/3 * Math.PI * absoluteLiquidHeight**3;
        var tank_volume = 4/3 * Math.PI * radius**3;
        change_svg_height(liquidVolume, tank_volume, "spherical");
        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateSphericalVolumeLiters(diameter, sensorBottom, sensorTop, liquidLevel) {

        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (1.3333 * 3.1415 * (diameter/2) * (diameter/2) * (diameter/2));

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }


    //Setting measurement field default values to those stored in the db, this should execute on document load

    if('{{settings[1]}}' == "None") {
        mts.selectedIndex = 0;

    } else if('{{settings[1]}}' == "Height Only") {
        mts.selectedIndex = 1;
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Rectangular Tank") {
        mts.selectedIndex = 2;
        document.getElementById("rectangular_width_field").value = {{settings[2]}};
	document.getElementById("rectangular_length_field").value = {{settings[3]}};
        document.getElementById("rectangular_height_field").value = {{settings[5]}};
        document.getElementById("cylindrical_height_field").value = 0;
	document.getElementById("vertical_oval_height_field").value = 0;
        document.getElementById("vertical_oval_length_field").value = 0;
        document.getElementById("vertical_capsule_length_field").value = 0;
        document.getElementById("liquid_volume").innerHTML = calculateRectangularVolumeGals({{settings[2]}}, {{settings[3]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Cylindrical Tank") {
        mts.selectedIndex = 3;
        document.getElementById("cylindrical_height_field").value = {{settings[5]}};
        document.getElementById("rectangular_height_field").value = 0;
        document.getElementById("vertical_oval_height_field").value = 0;
        document.getElementById("cylindrical_diameter_field").value = {{settings[4]}};
        document.getElementById("vertical_capsule_diameter_field").value = 0;
        document.getElementById("spherical_diameter_field").value = 0;
        document.getElementById("liquid_volume").innerHTML = calculateCylindricalVolumeGals({{settings[4]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Vertical Oval Tank") {
        mts.selectedIndex = 4;
        document.getElementById("rectangular_height_field").value = 0;
        document.getElementById("cylindrical_height_field").value = 0;
        document.getElementById("vertical_oval_height_field").value = {{settings[5]}};
        document.getElementById("cylindrical_height_field").value = 0;
        document.getElementById("vertical_capsule_length_field").value = 0;
        document.getElementById("rectangular_length_field").value = 0;
        document.getElementById("vertical_oval_length_field").value = {{settings[3]}};
        document.getElementById("vertical_oval_width_field").value = {{settings[2]}};
        document.getElementById("rectangular_width_field").value = 0;
        document.getElementById("liquid_volume").innerHTML = calculateVerticalOvalVolumeGals({{settings[3]}}, {{settings[2]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Vertical Capsule Tank") {
        mts.selectedIndex = 5;
        document.getElementById("vertical_oval_length_field").value = 0;
        document.getElementById("rectangular_length_field").value = 0;
        document.getElementById("vertical_capsule_length_field").value = {{settings[3]}};
        document.getElementById("vertical_capsule_diameter_field").value = {{settings[4]}};
        document.getElementById("cylindrical_diameter_field").value = 0;
        document.getElementById("spherical_diameter_field").value = 0;
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
        document.getElementById("liquid_volume").innerHTML = calculateVerticalCapsuleVolumeGals({{settings[3]}}, {{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);

    } else if('{{settings[1]}}' == "Spherical Tank") {
        mts.selectedIndex = 6;
        document.getElementById("vertical_capsule_diameter_field").value = 0;
        document.getElementById("cylindrical_diameter_field").value = 0;
        document.getElementById("spherical_diameter_field").value = {{settings[4]}};
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
        document.getElementById("liquid_volume").innerHTML = calculateSphericalVolumeGals({{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);

    }

    document.getElementById("sensor_bottom_height").value = {{settings[6]}}
    document.getElementById("sensor_top_height").value = {{settings[7]}}

    changeShownMenu();


</script>

{% endblock content %}
