{% extends "layouts/base.html" %}

{% block title %}Sensor {{sensorID}} {% endblock %}

{% block content %}

<!--- Welcome to the most complex html document in the website --->

<script>
    var barchart
    var chart_mode = 0  //Values: 0 = live, anything else = how many days are being displayed

    var liquidLevel = {{data.y_vals | last}}; //stores current liquid level

    //Catches and responds to SocketIO messages (mostly for debug)
    socket.on('message', function(msg) {
        console.log("SocketIO clientside message: " + msg);
    });

    //Received from routes.py when a POST request comes in, brings in a datapoint
    socket.on('POST', function(new_data) {
        if(new_data[0] == '{{sensorID}}') {
            add_datapoint(new_data);
        }
    });

    function add_datapoint(new_data) {
            //Adds a new data_point to its respective
            //Argument new_data is an array containing [SID, datapoint]

            if (chart_mode != 0) {
                return;
            }

            var datapoint = new_data[1];

            liquidLevel = datapoint["Liquid %"];

            //This is Chart.js standard, push the datapoint label, then the datapoint in
            barchart.data.labels.push(datapoint["Time Stamp"]);
            barchart.data.labels.splice(0, 1);
            barchart.data.datasets.forEach((dataset) => {
                dataset.data.push(datapoint["Liquid %"]);
                dataset.data.splice(0, 1);
            });

            //Update the battery bar percentage and color
            var batteryBar = document.getElementById("battery col " + '{{sensorID}}')

            //batteryBar.innerHTML= "Battery Level: " + datapoint["Battery %"] + "%";
            //batteryBar.style.color = get_darker_color_by_batt(datapoint["Battery %"]);
            //batteryBar.style.background = get_color_by_batt(datapoint["Battery %"]);
            //batteryBar.style.textalign = "center";

            barchart.update();


            //Measurement changes
            if('{{settings[1]}}' == 'Rectangular Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateRectangularVolumeGals({{settings[2]}}, {{settings[3]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            } else if('{{settings[1]}}' == 'Cylindrical Tank') {
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
                document.getElementById("liquid_volume").innerHTML = calculateCylindricalVolumeGals({{settings[4]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
            } else if('{{settings[1]}}' == 'Vertical Oval Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateVerticalOvalVolumeGals({{settings[3]}}, {{settings[2]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            } else if('{{settings[1]}}' == 'Vertical Capsule Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateVerticalCapsuleVolumeGals({{settings[3]}}, {{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            } else if('{{settings[1]}}' == 'Spherical Tank') {
                document.getElementById("liquid_volume").innerHTML = calculateSphericalVolumeGals({{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
                document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
            }
    }


    function new_range() {
        var range_selector = document.getElementById("range_selector");
        var si = range_selector.selectedIndex
        if(si == 0) {
            defaultChart();
        } else if(si == 1) {
            changeDate(1);
        } else if(si == 2) {
            changeDate(7);
        } else if(si == 3) {
            changeDate(30);
        } else if(si == 4){
            // var UserInput = prompt('Select an interval of dates');
            customDate(); //Work here for user input

        }
    }

    function changeDate(new_day) {
        chart_mode = new_day

        var arr = {days: new_day, sensor_id: "{{sensorID}}"}

        $.ajax({
            url: '/sensors/get-date',
            type: 'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(response) {
                console.log(response)
                barchart.data.labels = response["x_vals"];
                barchart.data.datasets.forEach((dataset) => {
                    dataset.data = response["y_vals"];
                });
                barchart.update()
            }
        });
    }



    // Nico's work. Use this function
    function gate_date_range(first_date, second_date) {
        chart_mode = first_date

        var arr = {first_date: first_date, second_date: second_date, sensor_id: "{{sensorID}}"}

        $.ajax({
            url: '/sensors/get-date-range',
            type: 'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(response) {
                console.log(response);
                barchart.data.labels = response["x_vals"];
                barchart.data.datasets.forEach((dataset) => {
                    dataset.data = response["y_vals"];
                });
                barchart.update()

            }
        });
    }

    function customDate(){
        var date1 = prompt('Ending Date (Eg. Oct 1 2021 1:00PM)');
        var date2 = prompt('Starting Date (Eg. Nov 1 2021 10:00AM)');
        /* switching dates, going out of scope, when user puts in invalid date */
        var curDate = new Date();
        //var daysFromDate1 = curDate.getTime() - date1.getTime();
        //var daysFromDate2 = curDate.getTime() - date2.getTime();
        gate_date_range(date1, date2);

    }

    function defaultChart() {
        chart_mode = 0

        var arr = {sensor_id: "{{sensorID}}"}
        $.ajax({
            url: '/sensors/get-default-datapoints',
            type: 'POST',
            data: JSON.stringify(arr),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(response) {
                barchart.data.labels = response["x_vals"];
                barchart.data.datasets.forEach((dataset) => {
                    dataset.data = response["y_vals"];
                });
                barchart.update()
            }
        });
    }

</script>

<!--- Row containing the graph, and the view+measurement interfaces --->
<div class="form-group form-inline" style="width:100%">

    <!--- The chart's media section --->
    <article class="media content-section" style="width:60%; float:left; margin-right:10px">
        <div class="media-body" style="width:100%;">
            <h1 style="text-align:center">Sensor {{sensorID}}</h1>

            <!--- Chart canvas --->
            <canvas id="chart"></canvas>

            <!--- Script initializing the chart --->
            <script>
                var myChart = document.getElementById("chart").getContext('2d');

                gradient = myChart.createLinearGradient(0, 0, 0, 400);
                gradient.addColorStop(0, 'rgba(29, 140, 248, 0.75)');
                gradient.addColorStop(0.5, 'rgba(29, 140, 248, 0.5)');
                gradient.addColorStop(1, 'rgba(29, 140, 248, 0)');

                // Global Options
                Chart.defaults.global.defaultFontFamily = 'inherit';
                Chart.defaults.global.defaultFontSize = 18; //Effects x and y's number font size
                Chart.defaults.global.defaultFontColor = '#777';
                barchart = new Chart(myChart, {
                    type:'bar',
                    data:{
                        labels: {{ data.x_vals | tojson }},                                         //X VALS TO COMMUNICATE WITH CHART
                        datasets:[{
                            label:'Liquid Level',
                            data:{{ data.y_vals }},
                            backgroundColor: gradient,
                            borderWidth:1, //Effects plotted line on chart
                            borderColor:'white',
                            hoverBorderWidth:3,
                            hoverBorderColor:'#000',
                            barThickness: 15

                        }]
                    },
                    options:{

                        legend:{
                            display:true,
                            position:'right',
                            labels:{
                                fontColor:'#000'
                            }
                        },
                        scales: {
                        yAxes: [{
                        display: true,
                        ticks: {
                            suggestedMin: 0,
                            steps: 10,
                            stepValue: 10,
                            max: 100
                        }
                    }],
                    xAxes: [{
                        display: true,
                        ticks: {
                            autoSkip: true,
                            padding: 4,
                            fontSize: 12
                        }
                    }]
                },
                layout:{
                padding:{
                    left:0,
                    right:0,
                    bottom:0,
                    top:0
                }
            },
            tooltips:{
                enabled:true
                }

            }
            });

            </script>
        </div>


    </article>

    <!--- Vertical arrangement of timeframe selector and measurement configuration --->
    <div style="width:30%">


        <div class="content-section" style="float:left; width:100%">
            <h2 style = "text-align:center"><strong>Change View</strong></h2>

            <!--- Chart timeframe selector --->
            <div style="width:100%; margin-right:10%">
                <select onchange="new_range()" id="range_selector" style="width:100%;">
                    <option>Live</option>
                    <option>Past Day</option>
                    <option>Past Week</option>
                    <option>Past Month</option>
                    <option>Custom Interval</option>
                </select>
                <script>
                    //Default index to 0
                    document.getElementById("range_selector").selectedIndex = 0
                </script>
            </div>
        </div>

        <!--- Measurement Configuration content-section --->
        <div class="content-section" style="float:left; width:100%">

            <h2 style = "text-align:center"><strong>Measurements</strong></h2>

            <!--- Type selector --->
            <div class="form-group form-inline">
                <div style="width:50%; margin-right:10%">
                    <label for="measurement_type_selector" style="float:left"><strong>Measurement Type</strong></label><br>
                    <select id="measurement_type_selector" style="width:100%" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size=1; this.blur();'>
                        <option>None</option>
                        <option>Height Only</option>
                        <option>Rectangular Tank</option>
                        <option>Cylindrical Tank</option>
		        <option>Vertical Oval Tank</option>
		        <option>Vertical Capsule Tank</option>
                        <option>Spherical Tank</option>
                    </select>
                    <script>
                        var mts = document.getElementById("measurement_type_selector");
                        mts.addEventListener("change", function() {
                            changeShownMenu();
                        });

                    </script>
                </div>
            </div>

            <br>

            <!--- Default/None Parameters Menu --->
            <div id="none_parameters_menu" style="display:block">
                <p>
                    You can set measurements here to
                    compute information such as current tank volume
                    and liquid height. Choose a configuration from
                    the drop-down above!
                </p>
            </div>
            <!--- End of Default/None Parameters Menu --->

            <!--- Height Only Parameters Menu --->
            <div id="height_only_parameters_menu" style="display:none">
                <p>For measuring only the height of liquid.</p>
            </div>
            <!--- End of Height Only Parameters Menu --->


            <!--- Rectangular Parameters Menu --->
            <div id="rectangular_parameters_menu" style="display:none">
                <p>For rectangular tanks.</p>

                <!--- Tank Parameter Fields --->
                <div class="form-group form-inline">
                    <!--- Width Field --->
                    <div style="width:30%">
                        <label for="rectangular_width_field" style="float:left;"><strong>Tank Width</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="rectangular_width_field"  name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Length Field --->
                    <div style="width:30%">
                        <label for="rectangular_length_field" style="float:left;"><strong>Tank Length</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="rectangular_length_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>

                    <!--- Height Field --->
                    <div style="width:30%">
                        <label for="rectangular_height_field" style="float:left;"><strong>Tank Height</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="rectangular_height_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Rectangular Tank --->
                    <div id="rectangular_image">
                        <center><img src="https://cdn.inchcalculator.com/a/img/tank-volume/rectangle-tank.png" style="position:relative; top:10px;" width="130" height="120"></center>
                    </div>
                </div>
            </div>
            <!--- End of Rectangular Parameters Menu --->


            <!--- Cylindrical Parameters Menu --->
            <div id="cylindrical_parameters_menu" style="display:none">
                <p>For cylindrical tanks - accuracy depends on how perfectly cylindrical the tank is.</p>
                <!--- Height Field --->
                <div class="form-group form-inline">
                    <div style="width:40%">
                        <label for="cylindrical_height_field" style="float:left;"><strong>Tank Height</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="cylindrical_height_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <div style="width:40%">
                        <label for="cylindrical_diameter_field" style="float:left;"><strong>Tank Diameter</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="cylindrical_diameter_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Cylindrical Tank --->
                     <div id="cylindrical_image">
                         <center><img align="bottom" src="https://cdn.inchcalculator.com/a/img/tank-volume/horizontal-cylinder-tank.png" style="position:relative; top:10px;" width="130" height="120"></center>
                     </div>
                </div>
            </div>
            <!--- End of Cylindrical Parameters Menu --->

            <!--- Vertical Oval Parameters Menu --->
            <div id="vertical_oval_parameters_menu" style="display:none">
                <p>For vertical oval tanks.</p>

                <!--- Tank Parameter Fields --->
                <div class="form-group form-inline">
                    <!--- Length Field --->
                    <div style="width:30%">
                        <label for="vertical_oval_length_field" style="float:left;"><strong>Tank Length</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_oval_length_field"  name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Width Field --->
                    <div style="width:30%">
                        <label for="vertical_oval_width_field" style="float:left;"><strong>Tank Width</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_oval_width_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>

                    <!--- Height Field --->
                    <div style="width:30%">
                        <label for="vertical_oval_height_field" style="float:left;"><strong>Tank Height</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_oval_height_field" name="Width" style="float:left; width:50%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Vertical Oval Tank --->
                    <div id="vertical_oval_image">
                        <center><img src="http://2.bp.blogspot.com/-Up_en4xPVH0/U-oGeQxSEkI/AAAAAAAAnEw/ALGogNuY8FQ/s1600/picture2.jpg" style="position:relative; top:10px;" width="120" height="120"></center>
                    </div>
                </div>
            </div>
            <!--- End of Vertical Oval Parameters Menu --->

            <!--- Vertical Capsule Parameters Menu --->
            <div id="vertical_capsule_parameters_menu" style="display:none">
                <p>For vertical capsule tanks.</p>
                <!--- Side Length Field --->
                <div class="form-group form-inline">
                    <div style="width:40%">
                        <label for="vertical_capsule_length_field" style="float:left;"><strong>Tank Side Length</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_capsule_length_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <div style="width:40%">
                        <label for="vertical_capsule_diameter_field" style="float:left;"><strong>Tank Diameter</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="vertical_capsule_diameter_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <!--- Vertical Capsule Tank --->
                    <div id="vertical_capsule_image">
                        <center><img src="https://www.petguide.com/wp-content/uploads/2015/09/torus-water-bowl.jpg" style="position:relative; top:10px;" width="120" height="120"></center>
                    </div>
                </div>
            </div>
            <!--- End of Vertical Capsule Parameters Menu --->

            <!--- Spherical Parameters Menu --->
            <div id="spherical_parameters_menu" style="display:none">
                <p>For spherical tanks.</p>
                <div class="form-group form-inline">
                    <div style="width:40%">
                        <label for="spherical_diameter_field" style="float:left;"><strong>Tank Diameter</strong></label><br>
                        <div class="form-group form-inline">
                            <input id="spherical_diameter_field" name="Width" style="float:left; width:40%; margin-right:5px">
                            in.
                        </div>
                    </div>
                    <div id="spherical_image">
                        <img src="https://cdn.inchcalculator.com/a/img/tank-volume/sphere-tank.png" style="position:relative; top:10px" width="125" height="120">
                    </div>
                </div>
            </div>
            <!--- End of Spherical Parameters Menu --->

            <br>

            <!--- Sensor Parameter Fields --->
            <div  id="sensor_parameters" style="display:none">
                <div class="form-group form-inline">

                    <!--- Sensor Bottom Height Field --->
                    <div style="width:50%">
                        <label for="sensor_bottom_height" style="float:left;"><strong>Height of Bottom of Sensor</strong></label><br>
                        <input id="sensor_bottom_height" name="sensor_bottom_height" style="float:left; width:30%; margin-right:5px">
                            in.
                    </div>

                    <!--- Sensor Top Height Field --->
                    <div style="width:50%">
                        <label for="sensor_top_height" style="float:left;"><strong>Height of Top of Sensor</strong></label><br>
                        <input id="sensor_top_height" name="sensor_bottom_height" style="float:left; width:30%; margin-right:5px">
                            in.
                    </div>

                </div>

            </div>
            <!--- End of Sensor Parameter Fields --->

            <br>

            <button id="update_settings_button" class="btn-primary" type="button" style="width:100%; display:block">
                Update Measurement Settings
                <script>
                    document.getElementById("update_settings_button").addEventListener("click", function(){
                        updateMeasurementSettings();
                    });
                </script>
            </button>
        </div>




        </div>
    </div> <!--- end Row Containing Graph, view, measurement --->

    <!--- bar displaying current liquid volume, tank percentage --->
    <div class="content-section" style="width:60%">
        <div class="form-group form-inline">
            <div style="width:30; margin-right:5%;">
                <h4>Current Liquid Volume: <b id="liquid_volume">--</b></h4>
                <button onclick="get_point_elevations([39.70179236136183, -75.12333012077949])">Test</button>
            </div>
            <div style="width:30">
                <h4>Current Liquid Height: <b id="liquid_height">--</b></h4>
            </div>
        </div>
    </div>

</div>


<!--- Measurement Settings Functions --->
<script>
    //Declare global variable measurementConfigMenus, that correspond with the divs for each of their respective
    //  measurement field groups
    var measurementConfigMenus = [document.getElementById("none_parameters_menu"),
                                document.getElementById("height_only_parameters_menu"),
                                document.getElementById("rectangular_parameters_menu"),
                                document.getElementById("cylindrical_parameters_menu"),
                                document.getElementById("vertical_oval_parameters_menu"),
                                document.getElementById("vertical_capsule_parameters_menu"),
                                document.getElementById("spherical_parameters_menu")];

    //Changes the measurement fields shown based on measurement type
    function changeShownMenu(index) {
        //First hide all the menus
        measurementConfigMenus.forEach((menu) => {
            if(menu != null) { //unnecessary but harmless if statement
                menu.style.display = "none";
            }
        });

        //Then show only the menu we want
        measurementConfigMenus[mts.selectedIndex].style.display = "block";

        //For everything but "None", display the sensor specification fields
        if(mts.selectedIndex != 0) {
            document.getElementById("sensor_parameters").style.display = "block";
        } else {
            document.getElementById("sensor_parameters").style.display = "none";
        }
    }

    //When the "update" button is pushed, this function will be called. It grabs the data from the document and attempts
    //  to send it to /sensors/sensor-settings/store:
    function updateMeasurementSettings() {

        //Initialize necessary values at 0
        var width = 0;
        var length = 0;
        var diameter = 0;
        var height = 0;
        var sensorBottomHeight = 0;
        var sensorTopHeight = 0;

        //Replace sensor top/bottom height values if necessary
        if(mts.selectedIndex > 0) {
            sensorBottomHeight = parseInt(document.getElementById("sensor_bottom_height").value)
            sensorTopHeight = parseInt(document.getElementById("sensor_top_height").value)
            if(Number.isNaN(sensorBottomHeight) || Number.isNaN(sensorTopHeight)) {
                alert("Please enter numeric values into all fields: sensor height specifications");
                return;
            }
        }

        //Replace rectangular values if necessary
        if(mts.selectedIndex == 2) { //RECTANGULAR
            width = parseInt(document.getElementById("rectangular_width_field").value)
            length = parseInt(document.getElementById("rectangular_length_field").value)
            height = parseInt(document.getElementById("rectangular_height_field").value)
            if(Number.isNaN(width) || Number.isNaN(length) || Number.isNaN(height)) {
                alert("Please enter numeric input in all fields: rectangular specifications");
                return;
            }
        //Replace cylindrical values if necessary
        } else if(mts.selectedIndex == 3) { //CYLINDRICAL
            diameter = parseInt(document.getElementById("cylindrical_diameter_field").value);
            height = parseInt(document.getElementById("cylindrical_height_field").value);
            if(Number.isNaN(diameter) || Number.isNaN(height)) {
                alert("Please enter numeric input in all fields: cylindrical specifications");
                return;
            }
        //Replace vertical oval values if necessary
        } else if(mts.selectedIndex == 4) { //VERTICAL OVAL
            length = parseInt(document.getElementById("vertical_oval_length_field").value);
            width = parseInt(document.getElementById("vertical_oval_width_field").value);
            height = parseInt(document.getElementById("vertical_oval_height_field").value);
            if(Number.isNaN(length) || Number.isNaN(width) || Number.isNaN(height)) {
                alert("Please enter numeric input in all fields: vertical oval specifications");
                return;
            }
        //Replace vertical capsule values if necessary
        } else if(mts.selectedIndex == 5) { //VERTICAL CAPSULE
            length = parseInt(document.getElementById("vertical_capsule_length_field").value);
            diameter = parseInt(document.getElementById("vertical_capsule_diameter_field").value);
            if(Number.isNaN(length) || Number.isNaN(diameter)) {
                alert("Please enter numeric input in all fields: vertical capsule specifications");
                return;
            }
        }
        //Replace spherical values if necessary
         else if(mts.selectedIndex == 6) { //SPHERICAL
            diameter = parseInt(document.getElementById("spherical_diameter_field").value);
            if(Number.isNaN(diameter)) {
                alert("Please enter numeric input in all fields: spherical specifications");
                return;
            }
        }


        //Create a JSON with all of the data we want to end up in the settings table of the database
        var sendData = {"sensorID": '{{sensorID}}',
                        "measurementType": document.getElementById("measurement_type_selector").value,
                        "width": width,
                        "length": length,
                        "diameter": diameter,
                        "height": height,
                        "sensorBottomHeight": sensorBottomHeight,
                        "sensorTopHeight": sensorTopHeight,
                        };

        //Define a request, open as post, delineate that we're sending JSON
        xhr = new XMLHttpRequest();
        xhr.open("POST", "/sensors/sensor-settings/store", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        //Set up a handler for when the response is received
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                    var success = $.parseJSON(this.response)["result"];
                    if(success) {
                        location.reload();
                    } else {
                        alert("Something went wrong saving your settings. If this issue persists, contact support.");
                    }
                }
        };

        //Send the data
        var data = JSON.stringify(sendData);
        xhr.send(data);
    }

    function calculateLiquidHeight(sensorBottom, sensorTop) {
        relativeHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        return (sensorBottom + relativeHeight).toFixed(2) + " in.";
    }

    function calculateRectangularVolumeGals(width, length, height, sensorBottom, sensorTop) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "0.00 gal";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = width * length * absoluteLiquidHeight;

        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateRectangularVolumeLiters(width, length, height, sensorBottom, sensorTop, liquidLevel) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "0.00L";
            } else {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = width * length * absoluteLiquidHeight;

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateCylindricalVolumeGals(diameter, height, sensorBottom, sensorTop, liquidLevel) {
        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;
        var liquidVolume = 3.1415 * (diameter/2) * (diameter/2) * height;

        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateCylindricalVolumeLiters(diameter, height, sensorBottom, sensorTop, liquidLevel) {
        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);
        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;
        var liquidVolume = 3.1415 * (diameter/2) * (diameter/2) * height;

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateVerticalOvalVolumeGals(length, width, height, sensorBottom, sensorTop) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (((height - width) * width) + (3.1415 * ((width/2) * (width/2)))) * length;

        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateVerticalOvalVolumeLiters(length, width, height, sensorBottom, sensorTop, liquidLevel) {
        //The height of the liquid relative to the sensor

        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (((height - width) * width) + (3.1415 * ((width/2) * (width/2)))) * length;

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateVerticalCapsuleVolumeGals(length, diameter, sensorBottom, sensorTop) {

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (3.1415 * (diameter/2) * length) + (4/3 * 3.1415 * ((diameter/2) * (diameter/2) * (diameter/2)));

        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateVerticalCapsuleVolumeLiters(length, diameter, sensorBottom, sensorTop, liquidLevel) {

        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (3.1415 * (diameter/2) * length) + (4/3 * 3.1415 * ((diameter/2) * (diameter/2) * (diameter/2)));

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }

    function calculateSphericalVolumeGals(diameter, sensorBottom, sensorTop) {

        if(liquidLevel == 0) {
            if(sensorBottom == 0) {
                return "Empty";
            } else {
                return "<" + ((width * length * sensorBottom)  / 231).toFixed(2) + " gal";
            }
        }


        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (1.3333 * 3.1415 * (diameter/2) * (diameter/2) * (diameter/2));

        return (liquidVolume / 231).toFixed(2) + " gal";
    }

    function calculateSphericalVolumeLiters(diameter, sensorBottom, sensorTop, liquidLevel) {

        if(liquidLevel == 0 && sensorBottom > 0) {
                return "<" + ((width * length * sensorBottom)  / 61.024).toFixed(2) + "L";
            }

        var sensorRelativeLiquidHeight = (sensorTop - sensorBottom) * (liquidLevel / 100);

        var absoluteLiquidHeight = sensorBottom + sensorRelativeLiquidHeight;

        var liquidVolume = (1.3333 * 3.1415 * (diameter/2) * (diameter/2) * (diameter/2));

        return (liquidVolume / 61.024).toFixed(2) + "L";
    }


    //Setting measurement field default values to those stored in the db, this should execute on document load

    if('{{settings[1]}}' == "None") {
        mts.selectedIndex = 0;

    } else if('{{settings[1]}}' == "Height Only") {
        mts.selectedIndex = 1;
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Rectangular Tank") {
        mts.selectedIndex = 2;
        document.getElementById("rectangular_width_field").value = {{settings[2]}};
	      document.getElementById("rectangular_length_field").value = {{settings[3]}};
        document.getElementById("rectangular_height_field").value = {{settings[5]}};
        document.getElementById("cylindrical_height_field").value = 0;
	      document.getElementById("vertical_oval_height_field").value = 0;
        document.getElementById("vertical_oval_length_field").value = 0;
        document.getElementById("vertical_capsule_length_field").value = 0;
        document.getElementById("liquid_volume").innerHTML = calculateRectangularVolumeGals({{settings[2]}}, {{settings[3]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Cylindrical Tank") {
        mts.selectedIndex = 3;
        document.getElementById("cylindrical_height_field").value = {{settings[5]}};
        document.getElementById("rectangular_height_field").value = 0;
        document.getElementById("vertical_oval_height_field").value = 0;
        document.getElementById("cylindrical_diameter_field").value = {{settings[4]}};
        document.getElementById("vertical_capsule_diameter_field").value = 0;
        document.getElementById("spherical_diameter_field").value = 0;
        document.getElementById("liquid_volume").innerHTML = calculateCylindricalVolumeGals({{settings[4]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Vertical Oval Tank") {
        mts.selectedIndex = 4;
        document.getElementById("rectangular_height_field").value = 0;
        document.getElementById("cylindrical_height_field").value = 0;
        document.getElementById("vertical_oval_height_field").value = {{settings[5]}};
        document.getElementById("cylindrical_height_field").value = 0;
        document.getElementById("vertical_capsule_length_field").value = 0;
        document.getElementById("rectangular_length_field").value = 0;
        document.getElementById("vertical_oval_length_field").value = {{settings[3]}};
        document.getElementById("vertical_oval_width_field").value = {{settings[2]}};
        document.getElementById("rectangular_width_field").value = 0;
        document.getElementById("liquid_volume").innerHTML = calculateVerticalOvalVolumeGals({{settings[3]}}, {{settings[2]}}, {{settings[5]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});

    } else if('{{settings[1]}}' == "Vertical Capsule Tank") {
        mts.selectedIndex = 5;
        document.getElementById("vertical_oval_length_field").value = 0;
        document.getElementById("rectangular_length_field").value = 0;
        document.getElementById("vertical_capsule_length_field").value = {{settings[3]}};
        document.getElementById("vertical_capsule_diameter_field").value = {{settings[4]}};
        document.getElementById("cylindrical_diameter_field").value = 0;
        document.getElementById("spherical_diameter_field").value = 0;
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
        document.getElementById("liquid_volume").innerHTML = calculateVerticalCapsuleVolumeGals({{settings[3]}}, {{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);

    } else if('{{settings[1]}}' == "Spherical Tank") {
        mts.selectedIndex = 6;
        document.getElementById("vertical_capsule_diameter_field").value = 0;
        document.getElementById("cylindrical_diameter_field").value = 0;
        document.getElementById("spherical_diameter_field").value = {{settings[4]}};
        document.getElementById("liquid_height").innerHTML = calculateLiquidHeight({{settings[6]}}, {{settings[7]}});
        document.getElementById("liquid_volume").innerHTML = calculateSphericalVolumeGals({{settings[4]}}, {{settings[6]}}, {{settings[7]}}, liquidLevel);

    }

    document.getElementById("sensor_bottom_height").value = {{settings[6]}}
    document.getElementById("sensor_top_height").value = {{settings[7]}}

    changeShownMenu();


</script>

{% endblock content %}
