

    <div class="sidebar">
        <div class="sidebar-wrapper">
          <div class="logo">
            <p></p>
            <p></p>
            <p></p>
            <a target="_blank" rel="sponsored noopener noreferrer"
                class="simple-text logo-normal">
              Dashboard
            </a>
          </div>

          <ul class="nav">
            <li class="{# {% if 'index' in segment %} active {% endif %} #}">
              <a href="/home">
                <i class="fas fa-home"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="{# {% if 'icons' in segment %} active {% endif %} #}">
              <a href="/sensors">
                <i class="fas fa-thermometer-half"></i>
                <p>Sensors</p>
              </a>
            </li>
            <li class="{# {% if 'maps' in segment %} active {% endif %} #}">
              <a href="/maps">
                <i class="fas fa-location-arrow"></i>
                <p>Maps</p>
              </a>
            </li>

            <li class="{# {% if 'rtl-support' in segment %} active {% endif %} #}">
              <a href="/support">
                <i class="fas fa-envelope-open"></i>
                <p>Support</p>
              </a>
            </li>

            <li class="{# {% if 'register' in segment %} active {% endif %} #}">
              <a href="/profile" >
                <i class="fas fa-user-plus"></i>
                <p>Profile</p>
              </a>
            </li>
            <li>
              <a href="/settings" >
                <i class="fas fa-cog"></i>
                <p>Settings</p>
              </a>
            </li>
            <li>
              <a href="/admin" >
                <i class="fas fa-cog"></i>
                <p>admin</p>
              </a>
            </li>
          </ul>

        </div>
      </div>
