{% extends "layout_with_sidebar.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend>
		<div class="content-section">
                <div class="form-group">
		<div class="row">
		    <div class="col-2">
                    {{ currentUser.email }}
		    </div>
                    {% if form.newEmail.errors %}
                        {{ form.newEmail(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.newEmail.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
		        <div class="col-4">

			</div>
			<div class="col-6">
                        {{ form.newEmail(class="form-control form-control-lg", placeholder="change email") }}
			</div>
                    {% endif %}
		</div>
		<div class="row">
			<div class="col-4">
				{{ form.phoneNumber(class="form-control form-control-lg", placeholder="Enter Phone #") }}
			</div>
			<div class="col-4">
				<div class="row-my-5">
					{{ form.password(class="form-control form-control-lg", placeholder="Change Password") }}
				</div>
				<div class="row-my-5">
					{{ form.confirmPassword(class="form-control form-control-lg", placeholder="Confirm Changed Password") }}
				</div>
			</div>
			<div class="col-2">
				{{ form.submitAccountInfo(class="btn btn-outline-info") }}
			</div>
                </div>
		</div>
		</div>
		<legend class="border-bottom mb-4">Add a Sensor</legend>
		<div class="content-section">
                <div class="form-group">
		<div class="row">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
		    	<div class="col">
                        	{{ sensorAccountForm.sensorID(class="form-control form-control-lg", placeholder="Sensor ID") }}
			</div>
                    {% endif %}
		<div class="col">
			{{ sensorAccountForm.submitSensor(class="btn btn-outline-info") }}
		</div>
                </div>
		</div>
                </div>
		<legend class="border-bottom mb-4">Payment Info</legend>
		<div class="content-section">
		<div class="row">
			<div class="col">
			<legend class="border-bottom mb-4">Your current payment tier is: {{ account_info.payment_tier }}
			{% if account_info.payment_tier  %}
				You have paid.
			{% else  %}
				You have not paid.
			{% endif %}
			</legend>
			</div>
			<div class="col">
				<legend class="border-bottom mb-4">Paypal GUI</legend>
			</div>
		</div>
		</div>
            </fieldset>
        </form>
    </div>
{% endblock content %}

