{% extends "layout.html" %}

{% block sublayout %}
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Navigation</h3>
            <p class='text-muted'>Select the page you want to go to
              <ul class="list-group">
                <li class="list-group-item list-group-item-light"><a  href="{{ url_for('home') }}">Main Page</a></li>
            <li class="list-group-item list-group-item-light"><a  href="{{ url_for('account') }}">Account Info</a></li>
                <li class="list-group-item list-group-item-light"><a  href="{{ url_for('settings') }}">Settings</a></li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
{% endblock sublayout %}